.container {
  width: 100%;
  background-color: var(--primary-bg-color);

  .app-header {
    margin: 25px 0 25px 25px;
  }

  .app-body {
    margin: 25px;
    display: flex;

    .board {
      width: 75vw;
      height: calc(100vh - 210px);
    }

    .output {
      width: 20vw;
      height: calc(100vh - 210px);
      margin-left: 2vw;
      z-index: 1;
    }
  }
}
